@media screen and (max-width: 500px) {
    img {
        display: none;
    }
    .box1-1 {
        display: none;
    }

    .box1-2 {
        width: 100%;
    }

    .container1 {
        flex-direction: column;
        width: auto;
        height: 500px;
    }
}
